@import 'mixins';
@import 'variables';

.login-section {
  &__header {
    @include width-full;
    @include flex(column, center, center);
  }

  &__content {
    @include flex(column);
    @include width-full;
    border-radius: 0.5rem;
    background-color: $white-color;
    min-height: 40vh;

    @include tablet {
      @include flex(row);
    }
  }

  &__image {
    display: none;
    position: relative;

    @include tablet {
      display: block;
      width: 60%;
    }

    img {
      height: 100%;
      @include width-full;
      object-fit: cover;

      @include laptop {
        height: 100%;
      }
    }


    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom right,
          rgba($primary-color-darkest, 0.2),
          rgba($primary-color-light, 0.4));
      mix-blend-mode: multiply;
      pointer-events: none;
    }
  }

  &__form {
    width: 100%;
    @include flex(column, center, center, nowrap, 0.4rem);
    padding: 1.5rem;

    @include tablet {
      width: 40%;
    }
  }
}