<aside class="admin-sidebar" [class.collapsed]="isCollapsed()">
    <header class="admin-sidebar__header">
        <app-logo *ngIf="!isCollapsed()"></app-logo>
        <button class="admin-sidebar__toggle" (click)="toggleSidebar()">
            <lucide-icon [img]="ChevronLeft" *ngIf="!isCollapsed()" size="20"></lucide-icon>
            <lucide-icon [img]="ChevronRight" *ngIf="isCollapsed()" size="20"></lucide-icon>
        </button>
    </header>

    <nav class="admin-sidebar__nav">
        <ng-container *ngFor="let item of sidebarItems">
            <ng-container *ngIf="!item.children; else hasChildren">
                <a [routerLink]="'/' + item.route" routerLinkActive="active" class="admin-sidebar__link"
                    [class.admin-sidebar__link--collapsed]="isCollapsed()">
                    <lucide-icon [name]="item.icon" size="20"></lucide-icon>
                    <span *ngIf="!isCollapsed()" class="admin-sidebar__link-text">{{ item.label }}</span>
                </a>
            </ng-container>

            <ng-template #hasChildren>
                <div class="admin-sidebar__link admin-sidebar__link--parent" (click)="toggleExpand(item.label)"
                    [class.admin-sidebar__link--collapsed]="isCollapsed()">
                    <lucide-icon [name]="item.icon" size="20"></lucide-icon>
                    <span *ngIf="!isCollapsed()" class="admin-sidebar__link-text">{{ item.label }}</span>
                    <lucide-icon [img]="ChevronDown" class="admin-sidebar__expand-icon"
                        [ngClass]="{ 'admin-sidebar__expand-icon--expanded': isExpanded(item.label) }" size="16">
                    </lucide-icon>
                </div>

                <div class="admin-sidebar__sub-items" *ngIf="!isCollapsed() && isExpanded(item.label)">
                    <a *ngFor="let child of item.children" [routerLink]="'/' + child.route" routerLinkActive="active"
                        class="admin-sidebar__link admin-sidebar__link--child">
                        <lucide-icon [name]="child.icon" size="16"></lucide-icon>
                        <span class="admin-sidebar__link-text">{{ child.label }}</span>
                    </a>
                </div>
            </ng-template>
        </ng-container>
    </nav>

    <footer class="admin-sidebar__footer">
        <app-dropdown [items]="dropdownItems">
            <div dropdownTrigger class="admin-sidebar__user">
                <app-avatar [src]="currentUser?.photoUrl"></app-avatar>
                <div class="admin-sidebar__user-info" *ngIf="!isCollapsed()">
                    <p class="admin-sidebar__user-name">
                        {{ currentUser?.firstName }} {{ currentUser?.lastName }}
                    </p>
                </div>
            </div>
        </app-dropdown>
    </footer>
</aside>