<section class="not-found-page">
    <div class="not-found-page__illustration-wrapper">
        <img class="not-found-page__image" src="assets/images/404/image.png" alt="Página no encontrada" />
    </div>
    <div class="not-found-page__content">
        <h1 class="not-found-page__title">404</h1>
        <p class="not-found-page__description">
            La página que estás buscando no existe o ha sido movida.
        </p>
        <app-button (click)="onGoToHome()" size="lg" variant="outline">Volver al inicio</app-button>
    </div>
</section>