<div class="input-select" (appClickOutside)="closeDropdown()">
  <input [id]="id" type="text" class="input-select__input" readonly [placeholder]="placeholder" [value]="labelSelected"
    (click)="toggleDropdown()" [class.error]="hasErrors" aria-haspopup="listbox" [attr.aria-expanded]="showDropdown"
    autocomplete="off" data-ignore-backdrop />
  <lucide-icon class="input-select__icon" [img]="ChevronDown"></lucide-icon>

  <div class="input-select__dropdown" *ngIf="showDropdown" role="listbox">
    <div class="input-select__option" *ngFor="let option of options" role="option" (click)="selectOption(option)">
      {{ option.label }}
    </div>
  </div>
</div>