<nav class="navbar" [ngClass]="{'navbar--scrolled': isScrolled, 'navbar--hidden': isHidden}"
  aria-label="Main navigation">
  <div class="navbar__container">
    <div class="navbar__brand">
      <a routerLink="/" aria-label="Inicio">
        <app-logo size="lg"></app-logo>
      </a>
    </div>
    <ul class="navbar__links" role="menubar">
      <li class="navbar__link" role="none">
        <a routerLink="/about" role="menuitem">Acerca de</a>
      </li>
      <li class="navbar__link" role="none">
        <a routerLink="/contact" role="menuitem">Contacto</a>
      </li>
    </ul>
    <div class="navbar__auth">
      <ng-container *ngIf="user() as u; else loggedOut">
        
        <app-dropdown [items]="authenticatedDropdownItems">
          <div class="navbar__user" dropdownTrigger>
            <app-avatar [src]="u.photoUrl" size="sm"></app-avatar>
            <span class="navbar__user-name">{{ u.firstName }}</span>
          </div>
        </app-dropdown>
        
      </ng-container>

      <ng-template #loggedOut>
        <app-button (click)="navigateToLogin()" size="sm">Ingresar</app-button>
      </ng-template>

    </div>
  </div>
</nav>