<app-section-wrapper *ngIf="practiceProcess && !isLoading" sectionClass="practice-process-detail" sectionContentClass="practice-process-detail__content">

    <!-- Header (full width) -->
    <app-practice-process-detail-header [practice]="practiceProcess" [showStudent]="!isStudent"
        [showProfessor]="!isProfessor" />

    <!-- Grid layout -->
    <section class="practice-process-detail__grid">

        <div class="practice-process-detail__main">
            <app-practice-process-detail-deliverables [practice]="practiceProcess" [permissions]="permissions" />
            <!-- Follow Ups -->
        </div>

        <aside class="practice-process-detail__sidebar">
            <app-practice-process-detail-formats [practice]="practiceProcess" />
        </aside>

    </section>

</app-section-wrapper>

<ng-container *ngIf="isLoading">
    <app-spinner />
</ng-container>