<div class="input-typeahead" [class.input-typeahead--above]="dropdownAbove" (appClickOutside)="onOutsideClick()">
  <input
    [id]="id"
    type="text"
    class="input-text input-typeahead__input"
    [formControl]="inputControl"
    [placeholder]="config.placeholder"
    (blur)="onBlur()"
    autocomplete="off"
    [class.error]="hasErrors()"
  />

  <div
    class="input-typeahead__dropdown"
    *ngIf="showDropdown && options.length"
    [class.input-typeahead__dropdown--above]="dropdownAbove"
  >
    <div
      class="input-typeahead__option"
      *ngFor="let option of options"
      (click)="selectOption(option)"
    >
      {{ option.label }}
    </div>
  </div>
</div>
