<div class="input-form-row">
  <label class="input-form-row__label" [for]="id">{{ label }}</label>

  <ng-container [ngSwitch]="type">
    <app-input-text *ngSwitchCase="'text'" [control]="control" [id]="id" [placeholder]="placeholder" />
    <app-input-number *ngSwitchCase="'number'" [control]="control" [id]="id" [placeholder]="placeholder" />
    <app-input-password *ngSwitchCase="'password'" [control]="control" [id]="id" [placeholder]="placeholder" />
    <app-input-typeahead *ngSwitchCase="'typeahead'" [control]="control" [id]="id" [config]="typeaheadConfig!" />
    <app-input-multi-select *ngSwitchCase="'multiselect'"  [control]="control" [id]="id" [config]="multiSelectConfig!"  />
    <app-input-select *ngSwitchCase="'select'" [control]="control" [id]="id" [placeholder]="placeholder" [options]="selectOptions!" />
    <app-input-otp *ngSwitchCase="'otp'" [formControl]="control" /> 
    <app-input-date *ngSwitchCase="'date'" [control]="control" [id]="id" />
    <app-input-file *ngSwitchCase="'file'" [control]="control" [id]="id" [config]="fileConfig!" />
    <app-input-rich-text *ngSwitchCase="'rich-text'" [control]="control" [id]="id" [placeholder]="placeholder" />
    <app-input-check-box *ngSwitchCase="'checkbox'" [control]="control" [id]="id" [label]="checkboxLabel" />
  </ng-container>

  <div class="input-form-row__error" [class.input-form-row__error--visible]="showError">
    {{ showError ? errorMessage : '' }}
  </div>
</div>