@import 'variables';
@import 'mixins';

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  white-space: nowrap;
  position: relative;
  display: inline-block;

  @include text-md;
  @include padding-y(0.5rem);
  @include padding-x(1.25rem);

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--full {
    width: 100%;
  }

  &--xs {
    @include text-xs;
    @include padding-y(0.25rem);
    @include padding-x(0.75rem);
  }

  &--sm {
    @include text-sm;
    @include padding-y(0.4rem);
    @include padding-x(1rem);
  }

  &--md {
    @include text-md;
    @include padding-y(0.5rem);
    @include padding-x(1.65rem);
  }

  &--lg {
    @include text-lg;
    @include padding-y(0.75rem);
    @include padding-x(2rem);
  }

  &--primary {
    background-color: $primary-color;
    color: $white-color;
    border: 1px solid $primary-color;

    &:hover:not(:disabled) {
      background-color: $primary-color-light;
    }
  }

  &--success {
    background-color: $success-color;
    color: $white-color;

    &:hover:not(:disabled) {
      background-color: $success-color-light;
    }
  }

  &--danger {
    background-color: $error-color;
    color: $white-color;

    &:hover:not(:disabled) {
      background-color: $error-color-light;
    }
  }

  &--light {
    background-color: $light-color;
    color: $dark-color;

    &:hover:not(:disabled) {
      background-color: darken($light-color, 5%);
    }
  }

  &--dark {
    background-color: $dark-color;
    color: $white-color;

    &:hover:not(:disabled) {
      background-color: lighten($dark-color, 10%);
    }
  }

  &--ghost {
    background-color: transparent;
    color: $dark-color;
    border: 1px solid $dark-color;

    &:hover:not(:disabled) {
      background-color: $dark-color;
      color: $white-color;
    }
  }

  &--outline {
    background-color: transparent;
    color: $primary-color-dark;
    border: 1px solid $primary-color;

    &:hover:not(:disabled) {
      background-color: $primary-color;
      color: $white-color;
    }
  }

  &__content {
    display: inline-block;

    &--hidden {
      opacity: 0;
    }
  }


}