$white-color: #ffffff;
$light-color: #f4f7fb;
$dark-color: #343a40;

$primary-color: #003f70;
$primary-color-dark: #002a4d; 
$primary-color-darkest: #001c33;
$primary-color-light: #005b9a;      
$primary-color-extra-light: #0ba1fe; 

$secondary-color:#d10013;
$secondary-color-light: #ff4d4d;

$success-color: #28a745;
$success-color-light: #5cb85c;
$error-color: #dc3545;
$error-color-light: #e74c3c;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;