@import 'mixins';
@import 'variables';

.practice-follow-ups {
    @include flex-column(flex-start, flex-start, 1.5rem);
    width: 100%;

    &__header {
        @include flex(row, space-between, center, nowrap, 1rem);
        width: 100%;
    }

    &__title {
        @include text-md;
        font-weight: 700;
        color: $dark-color;
        margin: 0;
    }

    &__container {
        background-color: $white-color;
        border-radius: 1rem;
        padding: 1.5rem;
        @include box-shadow-md();
        @include flex-column(flex-start, flex-start, 1.5rem);
        width: 100%;
    }

    &__card {
        background-color: $light-color;
        border-radius: 0.75rem;
        border: 1px solid $gray-light-color;
        padding: 1rem 1.25rem;
        @include flex-column(flex-start, flex-start, 0.75rem);
        width: 100%;
        max-width: 350px;
        position: relative;
    }

    &__header {
        @include flex(row, space-between, center, nowrap, 1rem);
        width: 100%;
    }

    &__name {
        @include text-sm;
        font-weight: 600;
        margin: 0;
        color: $dark-color;
    }

    &__details {
        @include flex-column(flex-start, flex-start, 0.45rem);
        @include text-sm;
        color: $gray-dark-color;

        a {
            color: $primary-color;
            text-decoration: underline;

            &:hover {
                color: $primary-color-dark;
            }
        }
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        @include text-sm;
        color: $gray-dark-color;
    }

    &__icon {
        display: flex;
        align-items: center;
        color: $gray-color;

        &--header {
            display: flex;
            align-items: center;
            color: $white-color;
            background-color: $info-color-light;
            padding: 0.5rem;
            border-radius: 50%;
            cursor: pointer
        }

    }

    &__actions {
        @include flex(row, flex-start, center, wrap, 0.5rem);
        margin-top: 1rem;
    }

    &__empty {
        background: $light-color;
        border: 1px dashed $gray-light-color;
        padding: 1.5rem;
        text-align: center;
        border-radius: 0.5rem;
        color: $gray-color;
        width: 100%;
    }
}