@import 'mixins';
@import 'variables';


.hero-section {
    &__header {
        @include width-full;
        @include flex(column, center, center, nowrap, 0.4rem);
        color:black;
    }

    &__title {
        @include text-xl;
        text-align: center;
    }

    &__subtitle {
        @include text-md;
        text-align: center;
        max-width: 60ch;
    }
}


::ng-deep .section__content.hero-section__content {
    z-index: 10;
    @include flex(column, center, flex-start, nowrap, 2rem);
}

::ng-deep .section.hero-section {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        filter: blur(10px);
        opacity: 0.3;
        pointer-events: none;
    }
}