<app-section-wrapper sectionClass="hero-section" sectionContentClass="hero-section__content">
    <header class="hero-section__header">
        <h1 class="hero-section__title">Transformando la prácticas empresariales con tecnología real</h1>
        <p class="hero-section__subtitle">
            Gestiona, supervisa y transforma cada etapa de la práctica académica con herramientas inteligentes y
            conectadas.
        </p>
    </header>

    <app-hero-section-bento></app-hero-section-bento>


</app-section-wrapper>