@import 'variables';
@import 'mixins';

.admin-section {
  min-height: 100%;
  padding: 2rem;
  background-color: $white-color;
  border-radius: 0.75rem;;
  margin-bottom: 2rem;
  @include box-shadow-sm();

  &__header {
    @include flex(row, space-between, center);
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: $primary-color-darkest;
    margin: 0;
  }

  &__content {
    @include space-y(1rem);
  }
}
