@import 'variables';
@import 'mixins';

:host {
    display: block;
    width: 100%;
}

.dynamic-form {
    display: flex;
    @include width-full;
    flex-direction: column;
    gap: 0.4rem;

    &__title {
        @include text-lg;
        @include width-full;
        text-align: center;
        font-weight: 600;
        margin: 0.5rem 0 0.5rem;
        color: $primary-color;

    }

    &__section-title {
        @include text-md;
        font-weight: 600;
        margin: 1rem 0 0.5rem;
        color: $primary-color;
    }

    &__button-container {
        @include flex(column, center, center, nowrap, 0.4rem);
        width: 100%;
        margin-top: 1rem;
    }

}