<section class="unauthorized">

    <div class="unauthorized__container">

        <div class="unauthorized__content">
            <img class="unauthorized__image" src="assets/images/mascot/mascot-403.png" alt="Unauthorized Access">

            <div class="unauthorized__info">
                <h1 class="unauthorized__title">Sin Autorización</h1>
                <p class="unauthorized__message">No tienes permisos para acceder a esta página.</p>
                <app-button (click)="onGoToHome()">Volver al Inicio</app-button>
            </div>

        </div>


    </div>

</section>