@import 'variables';
@import 'mixins';
.student-nav {
    position: fixed;
    top: 0;
    left: 0;
    @include width-full;
    background-color: $white-color;
    @include box-shadow-md();
    z-index: 1000;

    &__wrapper {
        @include container();
        @include flex-column(center, center, 1rem);
        padding: 0.5rem 1rem;
    }

    &__logo {
        align-self: center;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        @include flex-column(center, center, 0.5rem);
        @include width-full;
    }

    &__item {
        width: 100%;
    }

    &__link {
        @include text-md;
        color: $dark-color;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 0.5rem 0;
        text-align: center;
        transition: color 0.3s;

        &.active {
            color: $primary-color;
            font-weight: 600;
        }
    }

    @include tablet {
        &__wrapper {
            @include flex(row, space-between, center, nowrap, 0);
            padding: 1rem 2rem;
        }

        &__list {
            @include flex(row, flex-start, center, nowrap, 2rem);
            flex:1;
            width: auto;
        }

        &__item {
            width: auto;
        }

        &__link {
            text-align: left;
            padding: 0.5rem 0;
        }
    }

    @include laptop {
        &__wrapper {
            padding: 1rem 3rem;
        }
    }
}